:root{
  --foreground: #00eb00;
  --foreground-bright: #33ff66;
  --background: #001500;
  --background-bright: #002000;
  --background-completion-area: black;
}

:root.TridactylThemegreenmat span.TridactylHint {
    color: var(--foreground)!important;
    background-color: var(--background) !important;
}

:root.TridactylThemegreenmat .TridactylHintElem, :root.TridactylThemegreenmat .TridactylHintActive {
    color: #333 !important !important;
}

:root.TridactylThemegreenmat .TridactylHintElem {
    background-color: rgba(13, 13, 13, 0.25) !important;
    outline: 1px solid var(--background) !important;
}

:root.TridactylThemegreenmat .TridactylHintActive {
    background-color: #88FF00 !important;
    outline: 1px solid #000 !important;
}
